.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;
   width: 1200px; 
    }
    nav a { 
        font-size: 120%;
        color:  #615e5e;
        text-decoration: none;
    }
    header {
    background:rgba(234, 198, 198, 0.9);
    position:fixed;
    padding-top: 5px;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 1;
   
    }
    header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

    .menu{
        
        list-style:none ;
        display: flex;
        column-gap: 100px;
        
        }
        .container b{
           font-size: 35px;
           font-family: ARIAL;
           color:  grey;
           text-align: center;
        }
        body{
            margin: 0;
              padding: 0; 
              box-sizing: border-box; 
              
       }
          
        .img-container img{
            position: relative;
            width: 100%;
            height: 850px;
            top: 85px;
            
        }
       
        .text-overlay {
            position: absolute;
            top: 52%;
            left: 83%;
            
            font-size: 150%;
            }

            .product-container {
                display: flex;
                gap: 130px;
                padding: 20px;
                top: 250px;
                position: relative;
                justify-content: center;
                
            }
            .product-card {
                background-color: #f5ecec;
                border-radius: 30px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                overflow: hidden;
                text-align: center;
                width: 250px;
            }
            .product-card img {
                width: 100%;
                height: auto;
                border-bottom: 1px solid #ccc;
                
            }
            .product-card h3 {
                font-size: 20px;
                color: #756868;
                margin: 10px 0;
            }
            .product-card p {
                font-size: 18px;
                color: #756868;
                margin: 5px 0;
            }
            .product-card button {
                background-color: #b31e1eca;
                color: white;
                border: none;
                padding: 6px 16px;
                margin: 10px 0;
                border-radius: 3px;
                cursor: pointer;
                font-size: 16px;

            }


            .product-2-container {
                display: flex;
                gap: 130px;
                padding: 20px;
                top: 340px;
                position: relative;
                justify-content: center;
            }
            .product-2-card {
                background-color: #f5ecec;
                border-radius: 30px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                overflow: hidden;
                text-align: center;
                width: 250px;
            }
            .product-2-card img {
                width: 100%;
                height: auto;
                border-bottom: 1px solid #ccc;
            }
            .product-2-card h3 {
                font-size: 20px;
                color: #756868;
                margin: 10px 0;
            }
            .product-2-card p {
                font-size: 18px;
                color: #756868;
                margin: 5px 0;
            }
            .product-2-card button {
                background-color: #b31e1eca;
                color: white;
                border: none;
                padding: 6px 16px;
                margin: 10px 0;
                border-radius: 3px;
                cursor: pointer;
                font-size: 16px;

            }
           